/data/*
/www/_log/*
/www/bitrix/
/www/bundle.css*
/www/style.css*
/www/bundle.js*
/www/index.html
/www/vendor/*
/front/node_modules/
/front/public/
/video/*
.idea/*
sftp-config.json
.htaccess
front/.setting.js
www/vendors.js
www/style.js
www/polyfill.js
www/es6-set-implement.js
www/src
.DS_Store
